<div class="birds">

	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>
</div>




<div class="pannel-place">

  <div class="panneau">
    <%= image_tag("panneau.png", class: "panneau-img") %>
    <div class="question-number">Question : <%= @question.number %></div>
    <div class="head">
      <div class="question-title"><%= @question.title %></div>
    </div>
    <div class="answers" data-controller="quiz">
      <%= form_with url:check_answer_path(@question.id) do |form|%>
        <% @question.answers.each do |answer|%>
          <div class="answer">
            <div class="answer-imgs" data-action="click->quiz#test" data-quiz-target="imgs">
              <%= image_tag("bouton.png", class:"answer-btn")%>
              <%= image_tag("boutonactive.png", class:"answer-btn d-none")%>
            </div>
            <%= form.radio_button :answer, answer.id , data: {"quiz-target"=>"radio"}, class:"d-none"%>
            <div class="answer-text"><%= answer.content %></div>
          </div>
          <%# <%= link_to "valider", check_answer_path(answer.id)%>

        <% end %>
        <%= form.submit "Valider", class:"submit-btn custom-btn-submit" %>
      <% end %>
    </div>
  </div>
</div>
</div>





<% content_for :body_class, 'imgbackgroundworldshow' %>
