<div class="shop-index" data-controller="shop">


  <div class="panneau-inventaire" data-controller="inventory">
    <div class="inventory-avatars" data-shop-target="inventory"  >
      <% current_user.user_avatars.each do |user_avatar| %>

        <%= render 'user_avatars/avatar_card', user_avatar: %>

      <% end %>
    </div>
  </div>



  <div class="shop-container">
  <div class="shop-center">
    <%= image_tag("flechegauche.png", class: "shop-fleches", data:{action:"click->shop#gauche"})%>
    <div class="shop-avatars">
      <% @avatars.each do |avatar| %>
        <div class="shop-card d-none", data-shop-target="avatar" data-id=<%=avatar.id%>>
          <%= image_tag(avatar.img_url, class: "shop-avatar")%>
          <% if current_user.user_avatars.map{|user_avatar|user_avatar.avatar}.include?(avatar) %>
            <div class="avatar-price">

            </div>
            <div class="shop-buy-button" data-action="click->shop#buyAvatar">
              <div class="shop-action">
              <p>Equiper</p>
              </div>
            </div>
          <%else %>
            <% if current_user.balance >= avatar.price %>
            <div class="avatar-price price-green" data-shop-target="price">
              <%= avatar.price %><%= image_tag("piece.png", class: "reward-img1") %>
            </div>
            <div class="shop-buy-button" data-action="click->shop#buyAvatar">
              <div class="shop-action">
              <p>Acheter</p>
                </div>
            </div>
              <% else %>
                  <div class="avatar-price price-red" data-shop-target="price">
                <%= avatar.price %><%= image_tag("piece.png", class: "reward-img1") %>
                </div>
                <div class="shop-buy-button">
                  <div class="shop-action">
                  <p>Acheter</p>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= image_tag("flechedroite.png", class: "shop-fleches", data:{action:"click->shop#droite"})%>
  </div>
  <div class="shop-buy">

    <%= form_with url:user_avatars_path, data:{'shop-target' => 'form'}, class:"d-none" do |form|%>
      <%= form.text_field :avatar_id , data: {'shop-target' => 'avatarid'}%>
      <%= form.submit %>
    <% end  %>
    </div>
  </div>
</div>
