<div class="shop-index">

  <div class="inventory-container" data-controller="inventory">
    <div class="panneau inventory-img ">
      <div class="inventory-avatars" >
        <% current_user.user_avatars.each do |user_avatar| %>
          <div class="avatar-card" data-action="click->inventory#process">
            <% url = user_avatar.avatar.img_url %>
            <%= image_tag(url, class:"avatar-img") %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="shopo">
    <div class="shop-container" data-controller="shop" >
      <div class="shop-center">
        <%= image_tag("flechegauche.png", class: "shop-fleches", data:{action:"click->shop#gauche"})%>
          <div class="shop-avatars">
            <% @avatars.each do |avatar| %>
              <%= image_tag(avatar.img_url, class: "shop-avatar d-none", data: { 'shop-target' => 'avatar' })%>

              <div class="price-place">


<div class="shop-container" data-controller="shop" >
  <div class="shop-center">
    <%= image_tag("flechegauche.png", class: "shop-fleches", data:{action:"click->shop#gauche"})%>
    <div class="shop-avatars">
      <% @avatars.each do |avatar| %>
        <div class="shop-card d-none", data-shop-target="avatar" data-id=<%=avatar.id%>>
          <%= image_tag(avatar.img_url, class: "shop-avatar")%>
          <% if current_user.user_avatars.map{|user_avatar|user_avatar.avatar}.include?(avatar) %>
            <div class="avatar-price">

            </div>
            <div class="shop-buy-button" data-action="click->shop#buyAvatar">
              <p>Equiper</p>
            </div>
          <%else %>
            <% if current_user.balance >= avatar.price %>
            <div class="avatar-price price-green price-red" data-shop-target="price">
              <%= avatar.price %>
            </div>
            <div class="shop-buy-button" data-action="click->shop#buyAvatar">
              <p>Acheter</p>
            </div>
              <% else %>
                <div class="avatar-price price-red">
                <%= avatar.price %>
                </div>
                <div class="shop-buy-button">
                  <p>Acheter</p>
                </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= image_tag("flechedroite.png", class: "shop-fleches", data:{action:"click->shop#droite"})%>
  </div>
  <div class="shop-buy">

    <%= form_with url:user_avatars_path, data:{'shop-target' => 'form'}, class:"d-none" do |form|%>
      <%= form.text_field :avatar_id , data: {'shop-target' => 'avatarid'}%>
      <%= form.submit %>
    <% end  %>

  </div>
</div>
