<div class="shop-container" data-controller="shop" >
  <div class="shop-center">
    <%= image_tag("flechegauche.png", class: "shop-fleches", data:{action:"click->shop#gauche"})%>

      <div class="shop-avatars">
      <% @avatars.each do |avatar| %>
        <%= image_tag(avatar.img_url, class: "shop-avatar d-none", data:{'shop-target'=>'avatar'})%>
      <% end %>

      </div>
    <%= image_tag("flechedroite.png", class: "shop-fleches", data:{action:"click->shop#droite"})%>
  </div>
    <%= image_tag("panneaumagasin.png", class: "panneau-shop", style: 'width:550px;')%>
    </div>








<div><%= @balance  %></div>
