<%# quiz-level-1-stars %>
<% if user_quiz.star == 0 && user_quiz.done_flag == false %>
  <div class="div<%=index%>-stars">
  </div>
<% elsif user_quiz.star == 0 %>
  <div class="div<%=index%>-stars">
    <div class="fa-solid fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
<% elsif user_quiz.star == 1 %>
   <div class="div<%=index%>-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
<% elsif user_quiz.star == 2 %>
   <div class="div<%=index%>-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
<% else %>
  <div class="div<%=index%>-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid yellow fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
<% end %>


<% if user_quiz.questions.empty? %>
  <div class="div<%=index%> text-center"><%= link_to index,  root_path, class:"btn-start-ws" %>
  </div>
<% else %>
  <% if user_quiz.done_flag %>
    <div class="div<%=index%> text-center"><%= link_to index,  user_world_user_quiz_path(@user_world, user_quiz), class:"btn-start-ws-grey div1" %>
      <% if user_quiz === user_quizzes.select{|user_quiz| user_quiz.done_flag}.last %>
        <%= image_tag ( current_user.user_avatars.where(equiped: true).first.avatar.img_url), class:"world-avatar" %>
      <% end %>
    </div>
  <% else %>
    <div class="div<%=index%> text-center"><%= link_to index,  user_world_user_quiz_path(@user_world, user_quiz), class:"btn-start-ws div1" %>
    </div>
  <% end %>

<% end %>
