<div class="parent">

  <% @user_quizzes.each_with_index do |user_quiz, index| %>
    <%= render "points_world", user_quiz:, index: index + 1 %>
  <% end %>

<%# quiz-level-3 %>

  <div class="div3 text-center"><%= link_to "3", root_path, class:"btn-start-ws div3" %></div>

<%# quiz-level-4 %>

  <div class="div4 text-center"><%= link_to "4", root_path, class:"btn-start-ws div4" %></div>

<%# quiz-level-5 %>

  <div class="div5 text-center"><%= link_to "5", root_path, class:"btn-start-ws div5" %></div>

<%# quiz-level-6 %>

  <div class="div6 text-center"><%= link_to "6", root_path, class:"btn-start-ws div6" %></div>

<%# quiz-level-7 %>

  <div class="div7 text-center"><%= link_to "7", root_path, class:"btn-start-ws div7" %></div>

<%# quiz-level-8 %>

  <div class="div8 text-center"><%= link_to "8", root_path, class:"btn-start-ws div8" %></div>

<%# quiz-level-9 %>

  <div class="div9 text-center"><%= link_to "9", root_path, class:"btn-start-ws div9" %></div>

</div>

<% content_for :body_class, 'imgbackgroundworldshow' %>
