<div class="parent">
<%# quiz-level-1-stars %>


<% if UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).star == 0 && UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).done_flag == false %>
  <div class="div1-stars">
  </div>
  <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).star == 0 %>
  <div class="div1-stars">
    <div class="fa-solid fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
  <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).star == 1 %>
   <div class="div1-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
   <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).star == 2 %>
   <div class="div1-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
  <% else %>
  <div class="div1-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid yellow fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
  <% end %>

<%# quiz-level-1 %>

  <% if UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first).done_flag %>
  <div class="div1 text-center"><%= link_to @user_world.world.quizzes.first.number,  user_world_user_quiz_path(@user_world, UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first)), class:"btn-start-ws-grey div1" %></div>
  <% else %>
  <div class="div1 text-center"><%= link_to @user_world.world.quizzes.first.number,  user_world_user_quiz_path(@user_world, UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.first)), class:"btn-start-ws div1" %></div>
  <% end %>

<%# quiz-level-2-stars %>

  <% if UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).star == 0 && UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).done_flag == false %>
  <div class="div2-stars">
  </div>
  <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).star == 0 %>
  <div class="div2-stars">
    <div class="fa-solid fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
  <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).star == 1 %>
   <div class="div2-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid fa-star medium"></div>
  </div>
   <% elsif UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).star == 2 %>
   <div class="div2-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
  <% else %>
  <div class="div2-stars">
    <div class="fa-solid yellow fa-star medium"></div>
    <div class="fa-solid yellow fa-star big"></div>
    <div class="fa-solid yellow fa-star medium"></div>
  </div>
  <% end %>

<%# quiz-level-2 %>

  <% if UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last).done_flag %>
  <div class="div2 text-center"><%= link_to @user_world.world.quizzes.last.number, user_world_user_quiz_path(@user_world, UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last)), class:"btn-start-ws-grey div2" %></div>
  <% else %>
  <div class="div2 text-center"><%= link_to @user_world.world.quizzes.last.number, user_world_user_quiz_path(@user_world, UserQuiz.find_by(user:current_user, quiz: @user_world.world.quizzes.last)), class:"btn-start-ws div2" %></div>
  <% end %>

<%# quiz-level-3 %>

  <div class="div3 text-center"><%= link_to "3", root_path, class:"btn-start-ws div3" %></div>

<%# quiz-level-4 %>

  <div class="div4 text-center"><%= link_to "4", root_path, class:"btn-start-ws div4" %></div>

<%# quiz-level-5 %>

  <div class="div5 text-center"><%= link_to "5", root_path, class:"btn-start-ws div5" %></div>

<%# quiz-level-6 %>

  <div class="div6 text-center"><%= link_to "6", root_path, class:"btn-start-ws div6" %></div>

<%# quiz-level-7 %>

  <div class="div7 text-center"><%= link_to "7", root_path, class:"btn-start-ws div7" %></div>

<%# quiz-level-8 %>

  <div class="div8 text-center"><%= link_to "8", root_path, class:"btn-start-ws div8" %></div>

<%# quiz-level-9 %>

  <div class="div9 text-center"><%= link_to "9", root_path, class:"btn-start-ws div9" %></div>

</div>

<% content_for :body_class, 'imgbackgroundworldshow' %>
