
  <div class="pannel-place">

    <div class="panneau">



      <div class="star-container">
        <% if UserQuiz.find_by(user:current_user, quiz: @quiz).star == 0 %>
        <div class="div-stars-pr">
          <div class="fa-solid fa-star medium-pr"></div>
          <div class="fa-solid fa-star big-pr"></div>
          <div class="fa-solid fa-star medium-pr"></div>
        </div>
        <% elsif UserQuiz.find_by(user:current_user, quiz: @quiz).star == 1 %>
        <div class="div-stars-pr">
          <div class="fa-solid yellow fa-star medium-pr"></div>
          <div class="fa-solid fa-star big-pr"></div>
          <div class="fa-solid fa-star medium-pr"></div>
        </div>
        <% elsif UserQuiz.find_by(user:current_user, quiz: @quiz).star == 2 %>
        <div class="div-stars-pr">
          <div class="fa-solid yellow fa-star medium-pr"></div>
          <div class="fa-solid fa-star big-pr"></div>
          <div class="fa-solid yellow fa-star medium-pr"></div>
        </div>
        <% else %>
        <div class="div-stars-pr">
          <div class="fa-solid yellow fa-star medium-pr"></div>
          <div class="fa-solid yellow fa-star big-pr"></div>
          <div class="fa-solid yellow fa-star medium-pr"></div>
        </div>
        <% end %>

      </div>



      <div class="result-infos">

        <% @user_questions.each do |user_question| %>
        <div class="result-info">
          <div class="qsnb">Question : <%= user_question.question.number %></div>
          <% if user_question.done_flag == true %>
            <i class="fa-sharp fa-solid fa-check" style="color: #37ff00;"></i>
            <div class="qs-reward">+<%=user_question.question.reward  %></div>
            <%= image_tag("piece.png", class: "reward-img") %>
            <% else %>
            <i class="fa-sharp fa-solid fa-xmark" style="color: #ff0000;"></i>
          <% end %>
        </div>
      <% end %>
      <div class="result-btns">
        <%= link_to "Retour", user_world_path(UserWorld.find_by(user: current_user ,world: @quiz.world)), class:"result-world-btn custom-btn-world" %>
        <%= link_to "Boutique", shop_index_path, class:"result-shop-btn custom-btn-shop" %>
      </div>
      </div>
    </div>
  </div>



<% content_for :body_class, 'imgbackgroundworldshow' %>
