<!DOCTYPE html>
<html>
  <head>
    <title>Learnquest</title>
    <link href="https://fonts.cdnfonts.com/css/kiddosy-free" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'faviconlq.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="backgroundimage <%= yield(:body_class) %>">
    <%= render "shared/flashes" %>
    <% unless (controller_name == 'pages' && action_name == 'home')%>
    <%= render "shared/balance" %>
    <% end %>
    <% unless (controller_name == 'pages' && action_name == 'home') || (controller_name == 'user_quizzes' && action_name == "show") || (controller_name == 'user_questions' && action_name == "show") || (controller_name == 'user_quizzes' && action_name == "process_result")%>
      <%= render "shared/navbar" %>
    <% end %>

    <%= yield %>
  </body>
</html>
